# Default nodeJS gitignore
# Source: https://github.com/github/gitignore/blob/master/Node.gitignore
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

# Extra ignores
components
bower_components/
linkShare_Frontend/
public/stylesheets/style.css
.DS_Store

chrome_ext/node_modules
chrome_ext/temp
chrome_ext/.tmp
chrome_ext/dist
chrome_ext/.sass-cache
chrome_ext/app/bower_components
chrome_ext/test/bower_components
chrome_ext/package
